<aside class="cover">
  <div class="inner">
    <h1 class="title"><a href="/">Bai Mingze</a></h1>
    <p class="description">Bioinformatics, Algorithoms</p>
    <ul class="contacts">
      <li><a href="http://github.com/baimingze/">Github</a></li>
      <li><a href="http://twitter.com/baimz/">Twitter</a></li>
    </ul>
  </div>
</aside>

